* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  html, body {
    height: 100%;
    font-family: Roboto;
    font-size: 1em;
  }

  .enlace-desactivado {
    pointer-events: none;
    cursor: default;
    opacity: 0.5;
  }

/* Inicio y Registro*/
.body-ini {
    height: 100%;
    background-image: url('../images/background/fantasy-2760153redux.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: transparent;
}
.container-contenido {
    height: 100%;
}

.logo {
    width: 234px;
    height: 154px;    
}

.container-form {
    margin-left: 0;
    margin-right: 0;
    height: 100%;
}

.titulo-inicio {
    text-align: center;
}

.fondo-color {
    background-color: #FFFFFF;
    border-radius: 5px;
    color: #000000;
}

.border-hr {
    color: #bfbfbf;
}

.margin-large-login {
    padding-bottom: 250px;
}

.margin-large-alta {
    padding-bottom: 400px;
}

.legal-footer, .legal-footer>a {
    text-align: center;
    color: white;
    text-decoration: none;  
    text-shadow: 1px 1px 2px black, 0 0 1em grey, 0 0 0.2em grey;
}

/* Menu */
.container-menu {
    padding: 0;
    border-bottom: 1px solid #bfbfbf;
    height: 90%;
    display: flex;
}

#vertical-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 340px;
    background-color: #edf4ff;
    height: 100%;
    border-right: 1px solid #b2cdff; 
    visibility: visible; 
}

.fondo-color-footer {
    /* width: 100%; */
    background-color: rgba(191,191,191,0.3);
    height: 10%;
}

.separador {
    border-right: 1px solid #bfbfbf;
}

.contenido-menu {
    display: flex;
    flex-direction: column;
}

/* Menu nav vertical*/
#header-menu {
    position: fixed;
    z-index: 999;
    height: 100px;
    /* width: 240px; */
    padding-right: 25px;
    padding-left: 25px;
    flex-wrap: nowrap;
}

/* .ham {
    width: 240px;
} */

.titulo-menu>img{
    width: 145px;
    padding-top: 100px;
}

.lista-menu {
    padding-top: 40px;
    line-height: 50px;
}

.lista-menu>ul {
    list-style: none;
}

.lista-menu a {
    text-decoration: none;
}

/* Nav superior contenido menú */

.contenido-menu1 {
    width: calc(100% - 240px);
}

.contenido-menu2 {
    width: 100%;
}

.header-contenido-menu {
    /* padding-left: 90px; */
    padding-top: 23px;
    padding-bottom: 26px;
    margin: 0;
    border-bottom: 1px solid #bfbfbf;
}

.header-contenido-menu a {
    text-decoration: none;
}

.header-contenido-menu2 {
    position: fixed;
    z-index: 998;
    float: right;
    right: 33px;
    top: 33px;
    margin: 0;
}

.contenido-menu1.contenido-menu2>.header-contenido-menu {
    padding-left: 90px;
}

.contenido-menu1>.header-contenido-menu {
    padding-left: 34px;
}

.eliminar-flecha::after {
    content: none;
}

.menu-archivos {
    align-self: center;
    margin-left: 1em;
    visibility: hidden;   
}

.menu-archivos .visible {
    align-self: center;
    margin-left: 1em;
    visibility: visible;   
}

.menu-archivos-item {
    padding-right: 10px;
}

.nonpadding-side {
    padding-top: 0;
    padding-bottom: 0;
}

.nonpadding-side:active {
    color:  #212529;
    background-color: transparent;
}

.menu-perfil {
    margin-right: 1em;
}

.saludo-perfil {
    padding: 0 0 0 50px;
} 

.img-perfil {
    padding: 0 30px 0 15px;
}

.img-perfil>img {
    width: 50px;
    height: 50px;
    border-radius: 250px;
}

.anadir-foto {
    font-size: small;
}

/* Contenido central menu */
.central {
    margin-right: 0;
    margin-left: 0;
}

.contenido-central-menu {
    display: flex;
    width: 100%;
    padding: 20px;
    /* width: 100%; */
    height: 650px;
    overflow: overlay;
}

.contenido-central-menu::-webkit-scrollbar {
    display: none;
}

.ultimos-title {
    width: 100%;
    height: 6em;
}

.ultimos-content {
    padding-left: 9em;
    padding-right: 9em;
    height: 32em;
}

.padding-icon {
    padding: 0 5px;
}

.padding-icon-trash {
    padding-left: 20px;
}

#seleccionar-archivo {
    display: none;
    color: #007bff;
    margin-left: 3em;
    margin-bottom: 1.7em;
}

.tabla-menu {
    display: block;
    overflow-x: auto;
}

.tabla-menu::-webkit-scrollbar {
    -webkit-appearance: none;
}

.tabla-menu::-webkit-scrollbar:vertical {
    width:10px;
    display: none;
}

.tabla-menu::-webkit-scrollbar-button:increment,.contenedor::-webkit-scrollbar-button {
    display: none;
} 

.tabla-menu::-webkit-scrollbar:horizontal {
    height: 10px;
}
 
.tabla-menu::-webkit-scrollbar-thumb {
    background-color: #007bff;
    border-radius: 20px;
    border: 2px solid #f1f2f3;
}

.tabla-menu::-webkit-scrollbar-track {
    border-radius: 10px;  
}

.alinear-centro {
    text-align: center;
}

.doc-title {
    padding: 0 1em;
}

/* Ver asignaturas */
.curso-title {
    padding: 2em 2em 2em 0;
}

.list-asignaturas {
    padding-left: 2em;
}

/* Media */

@media screen and (max-width: 425px) {
    .body-ini {
        background-image: url('../images/background/fantasy-2760153reduxV.jpg');
    }
}

@media screen and (min-width:1024px) and (max-width: 1650px) {
    .margin-large-alta, .margin-large-login {
        padding-left: 150px;
        padding-right: 150px;
    }
}

@media screen and (min-width: 817px) and (max-width: 1024px) {
    .margin-large-alta, .margin-large-login {
        padding-left: 90px;
        padding-right: 90px;
    }

    .sidebar-right {
        padding-left: 0;
    }

    .contenido-menu1 {
        width: 100%;
        overflow-x: hidden;
    }

    .contenido-menu2 {
        width: 100%;
        overflow-x: hidden;
    }
}

@media screen and (min-width: 1650px) {
    .margin-large-alta, .margin-large-login {
        padding-left: 250px;
        padding-right: 250px;
    }

    .margin-large-registro {
        padding-left: 200px;
        padding-right: 200px;
    }
}

@media screen and (max-width: 817px) {
    .legal-footer {
        padding-bottom: 20px;
    }

    .header-contenido-menu {
        display: none;
    }

    .contenido-menu1 {
        width: 100%;
        overflow-x: hidden;
    }

    .contenido-menu2 {
        width: 100%;
        overflow-x: hidden;
    }

    .fondo-color-footer {
        height: auto;
        margin-left: 0 !important;
        width: 100%;
    }

    .contenido-central-menu {
        width: 100%;
        margin-top: 98px;
        border-top: 1px solid #bfbfbf;
        overflow-x: auto;
    }

    .ultimos-content {
        padding-left: 0;
        padding-right: 0;
    }

    .buscar {
        margin-right: 30px;  
    }
}

@media screen and (min-width: 817px) {
    .header-contenido-menu2 {
        display: none;
    }

    .contenido-menu1 {
        width: calc(100% + 240px);
    }

    .contenido-menu2 {
        width: calc(100% + 240px);
    }
}

@media screen and (max-width: 558px) {
    .buscar {
        margin-right: 30px;  
    }

    #seleccionar-archivo {
        margin-left: 1.8em;
        margin-bottom: 1.7em;
    }
}






